<button routerLink="/investment-form">Go to investmentform</button>
<div class="dashboard-container">
  <h2>Portfolio Dashboard</h2>

  <p><strong>Total Portfolio Value:</strong> {{ totalValue | currency:'INR' }}</p>


  <h3>Asset Allocation</h3>
  <ul>
    <li *ngFor="let item of assetAllocationChartData">

      {{ item.name }}: {{ item.value }}%
    </li>
  </ul>

  <h3>Performance Chart</h3>
  <!-- <canvas #chartCanvas width="600" height="300">
    
  </canvas> -->




  <h3>Asset Allocation</h3>

  <ngx-charts-pie-chart
    [results]="assetAllocationChartData"
    [view]="[500, 300]"
    [legend]="true"
    [labels]="true"
    [doughnut]="false"
    [explodeSlices]="false"
    [gradient]="true"
   [animations]="true"
  >
  </ngx-charts-pie-chart>
  <!-- <h3>Investment List</h3>
  <table>
    <thead>
      <tr>
        <th>Asset Type</th>
        <th>Quantity</th>
        <th>Purchase Price</th>
        <th>Purchase Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let investment of investments">
        <td>{{ investment.assetType }}</td>
        <td>{{ investment.quantity }}</td>
        <td>{{ investment.purchasePrice }}</td>
        <td>{{ investment.purchaseDate | date:'mediumDate' }}</td>
      </tr>
    </tbody>
  </table> -->

</div>


